<!-- views/fruits/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fruits Index</title>
  </head>
  <body>
    <a href="/fruits/new">Add New Fruit</a>
    <h1>All Fruits</h1>
    <ul>
      <% fruits.forEach(fruit => { %>
        <li><a href="/fruits/<%= fruit._id %>"><%= fruit.name %></a> </li>
        <!-- edit button -->
        <form action="/fruits/<%= fruit._id %>/edit" method="GET">
          <button type="submit">EDIT</button></form>
        <!-- delete -->
        <form action="/fruits/<%= fruit._id %>?_method=DELETE" method="POST">
          <button type="submit">DELETE</button>
        </form>
      <% }); %>
    </ul>
  </body>
</html>
