<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= fruit.name %></title> <!-- Dynamic title based on fruit name -->
  </head>
  <body>
    <a href="/fruits/">Back to Fruits</a>
    <h1><%= fruit.name %></h1> <!-- Display fruit name -->
    <!-- Add more details about the fruit here -->
     <!-- <FruitName> is not ready to Eat   <FruitName> is ready to eat -->
    <p><%= fruit.isReadyToEat ? `${fruit.name} is ready to eat` : `${fruit.name} is not ready to eat` %></p>
  </body>
</html>
